@mixin main-font {
  font-family: 'Open Sans Condensed', sans-serif;
}

@mixin main-text {
  text-align: center;
  color: $white;
  font-weight: bolder;
  font-style: italic;
  @include main-font;
  font-size: 1.5rem;
}

