@mixin main-text {
  text-align: center;
  color: $white;
  font-weight: bold;
  font-style: italic;
}

@mixin button {
  border-radius: 10px;
  border-color: $bg-color-dark;
  border-width: 0.5px;
  border-style: solid;
  width: 100%;
  box-shadow: 2px 2px 1px $shadow;
}

@mixin primary-button {
  background-image: linear-gradient(to top left, $bg-color-light, $bg-color-dark);
}