@mixin card {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

@mixin button {
  border-radius: 10px;
  border-color: $bg-color-dark;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 2px 1px $shadow;
  padding: 1rem;
  width: 100%;
}

@mixin primary-button {
  background-image: linear-gradient(to bottom right, $bg-color-pale, $bg-color-dark);
}

@mixin secondary-button {
  background-image: linear-gradient(to bottom right, $bg-color-secondary-pale, $bg-color-secondary-dark);
  border-color: $bg-color-secondary-dark;
}
