.line_1 {
 background-color: lighten($bg-color, 20%);
}

.line_2 {
  background-color: lighten($bg-color, 10%);
}

.line_3 {
background-color: $bg-color;
}

.line_4 {
  background-color: darken($bg-color, 5%);
}

h1 {
  @include main-text;
}


 @media (max-width: 760px) {
   $bg-color: $blue;

   .line_1 {
     background-color: lighten($bg-color, 20%);
   }

   .line_2 {
     background-color: lighten($bg-color, 10%);
   }

   .line_3 {
     background-color: lighten($bg-color, 1%);
   }

   .line_4 {
     background-color: darken($bg-color, 5%);
   }
}