body {
  background-color: $background;
}
/*.line_1 {
 background-color: lighten($bg-color, 20%);
}

.line_2 {
  background-color: lighten($bg-color, 10%);
}

.line_3 {
background-color: $bg-color;
}

.line_4 {
  background-color: darken($bg-color, 5%);
}*/

[value|=line] {
  @include main-text;
}

.button {
  @include button;

  &:hover {
    @include secondary-button;
  }
}

.primary-button {
  @include primary-button;
}

.secondary-button {
  @include secondary-button;
}

.visited-button {
  @include visited-button;
}


@media (max-width: 760px) {
  $bg-color: $blue;
  $bg-color-secondary: $blue-secondary;
  $bg-color-visited: $blue-visited;

  body {
    background-color: $blue-background;
  }
.small {
  background-color: $bg-color-visited-dark;
  color: $bg-color;
}
  /*.primary-button {
    @include primary-button;
  }

  .secondary-button {
    @include secondary-button;
  }

  .visited-button {
    @include visited-button;
  }*/
}