/*
@mixin color-scheme {
  @media screen and (max-width: 760px) {
    $bg-color: $blue;
    $bg-color-secondary: $blue-secondary;
    $bg-color-visited: $blue-visited;
  }
}
*/
body {
  margin: 0;
  background-color: #f6a0b0;
}

/*.line_1 {
 background-color: lighten($bg-color, 20%);
}

.line_2 {
  background-color: lighten($bg-color, 10%);
}

.line_3 {
background-color: $bg-color;
}

.line_4 {
  background-color: darken($bg-color, 5%);
}*/
header {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  background-color: #558f8f;
  margin: 3.5rem 0 0;
  padding: 2rem 0;
}
header h1 {
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
header p {
  color: #2f4f4f;
  padding-bottom: 1rem;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8153c;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  position: relative;
  display: flex;
}
li a {
  display: block;
  text-decoration: none;
  padding: 0.75rem 1rem;
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  font-style: italic;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
}
li a:hover {
  background-image: linear-gradient(to bottom right, #f6a0b0, #d11336);
}

img {
  width: 50%;
  display: flex;
  margin: auto;
}

[value|=line] {
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  font-style: italic;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
}

.button {
  border-radius: 10px;
  border-color: #f42323;
  border-width: 1px;
  border-style: solid;
  width: 50%;
  box-shadow: 0 0 2px 1px #2f4f4f;
  margin: 1rem auto 0;
  padding: 1rem;
  display: block;
}
.button:hover {
  background-image: linear-gradient(to bottom right, #f6a0b0, #d11336);
}

.primary-button {
  background-image: linear-gradient(to bottom right, #fccdcd, #f42323);
}

.secondary-button {
  background-image: linear-gradient(to bottom right, #f6a0b0, #d11336);
}

.visited-button {
  background-image: linear-gradient(to bottom right, white, #f97979);
}

.footer {
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  font-style: italic;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  background-color: #2f4f4f;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 760px) {
  /*$bg-color: $blue;
  $bg-color-secondary: $blue-secondary;
  $bg-color-visited: $blue-visited;*/
  body {
    background-color: #d0d4f5;
  }

  .primary-button {
    background-image: linear-gradient(to bottom right, #c8ccef, #3e4cc6);
  }

  .secondary-button {
    background-image: linear-gradient(to bottom right, #4e5ff8, #06148e);
  }

  .visited-button {
    background-image: linear-gradient(to bottom right, white, #7986f9);
  }

  /*.primary-button {
    @include primary-button;
  }

  .secondary-button {
    @include secondary-button;
  }

  .visited-button {
    @include visited-button;
  }*/
}

/*# sourceMappingURL=main.css.map */
